{% extends 'base.html' %}
{% block content %}
    <h2 style = "text-align: center;">Quote Input Form</h2>
<form action = "" method = post>
         <fieldset>
            <legend>Add a new quote</legend>
            {{ form.csrf_token }}
            <div style = "font-size:20px; font-weight:bold; margin-left:150px;" >
               {{ form.qstring.label }} : {{ form.qstring }} <br><br>
               {{ form.qauthor.label }} : {{ form.qauthor }} <br><br>
               {{ form.submit }}
            </div>
         </fieldset>
      </form>
{% endblock %}